<section class="ascii">
	<div class="wrapper">
        <pre>
                                ++++                                
                               ++++++.                              
                               :+++++                               
                                .  .                                
                           . .++++++++..                            
                         +++++++++++++++++,..                       
             ++++,.  .+++++++++++++++++++++++,   .+++++.            
          .+++++++: +++++++++++++++++++++++++++,..+++++++.          
        ++++++++++-+++++++++ . ...... . +++++++++.-++++++++,        
      ++++++++++..++++++++ ...............-+++++++..-++++++++,      
    .++++++++ . .+++++++ ...................+++++++.   -+++++++.    
   ++++++++  .  ++++++' ......+++++++,:..... -++++++    . ++++++,   
 .++++++       .++++++ .....++++++++++++......++++++.       ++++++, 
.++++++        ++++++ .....+++++++++++++;..... ++++++        ++++++,
++++++        .++++++......++++++++++++++..... ++++++         ++++++
++++++         ++++++ .....++++++++++++++ .....++++++        .++++++
-++++++        -+++++,.....-+++++++++++++...-..+++++'        +++++++
 -++++++,      .++++++ .....-+++++++++++..-.. ++++++.      ++++++++ 
   +++++++,     +++++++ ...... ++++++ ..-... ++++++'.   .++++++++   
    -+++++++,.. .+++++++ ..........-.:..... +++++++.  .+++++++++    
      -++++++++,  +++++++,,...............++++++++..++++++++++ .    
    +++.-++++++++,.-+++++++++..  ..  ..++++++++++.++++++++++.+++.   
  .+++++   +++++++. .++++++++++,.   +++++++++++. .+++++++  .+++++.  
   +++++     -+++     .+++++++++    +++++++++.     -+++     +++++   
     +                    ++++++.  .++++++.                   --    
                          .+++++.  .+++++.                          
                          .+++++.  .+++++                           
              ++,.         +++++    +++++          .+,              
             +++++         +++++    +++++         +++++             
             +++++++.    .++++++    ++++++.    .+++++++             
              +++++++++++++++++      +++++++++++++++++              
                ++++++++++++++        ++++++++++++++                
                   +++++++++          . -++++++++                   
        </pre>
	</div>
</section>
